.Parentdiv {
    height: 10px;
    width: 90%;
    background-color: whitesmoke;
    border-radius: 40px;
    margin: 50px;
  }
  
.Childdiv {
    height: 10px;
    width: 90%;
    background-color: bgcolor;
    border-radius:40px;
    text-align: right;
  }
  
.progresstext {
    padding: 10px;
    color: black;
    font-weight: 900;
  }